<launch>

   <node pkg="vsc_nmpc_uav_target_tracking" type="nmpc_img_moments_coast_tracking_with_cbf" name="nmpc_img_moments_coast_tracking_with_cbf" output="screen" /> 
    <rosparam command="load" name="parameters_of_control" file="$(find vsc_nmpc_uav_target_tracking)/config/nmpc_img_moments_parameters.yaml" />

</launch> 
