<launch>

   <!-- <master auto="start"/> -->
 <!-- Run the map server  -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->

 <!--- Run AMCL --> 
    <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->

   <node pkg="mpcpack" type="event_triggered_nmpc_img_moments_coast_tracking_OF_tracker_param_version" name="event_triggered_nmpc_img_moments_coast_tracking_OF_tracker_param_version" output="screen" /> 
    <rosparam command="load" name="parameters_of_control" file="$(find mpcpack)/config/nmpc_parameters.yaml" />

</launch> 
