<launch>

   <!-- <master auto="start"/> -->
 <!-- Run the map server  -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->

 <!--- Run AMCL --> 
    <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->

   <node pkg="mpcpack" type="uav_tracking_pvs_nmpc_with_img_moments_centroid" respawn="false" name="uav_tracking_pvs_nmpc_with_img_moments_centroid" output="screen"  launch-prefix="gdb --args" /> 

</launch> 
